.profile {
    width: 15rem;
    margin: 0 auto;
    border-radius: 100%;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.item-img {
    width: 25%;
    border-radius: 2rem;
}

.content {
    display: flex;
    gap: 3rem;
    align-items: center;
    & > p {
        font-size: 1.2rem;
        max-width: 45ch;
        padding: 7px;
        border-radius: 10px;
        background-image: linear-gradient(to right, var(--background-light-color), transparent);
    }
}

section:nth-of-type(even) .content {
    flex-direction: row-reverse;
    justify-content: left;
}

.boardgames {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.2rem;
    & img {
        border-radius: 10px;
    }
    & p {
        background-color: var(--secondary-color);
        color: var(--background-light-color);
        width: fit-content;
        margin: 0 auto;
        padding: 3px 10px;
        border-radius: 10px 10px 0 0;
    }
    & li:nth-of-type(even) p {
        background-color: var(--primary-color);
    }
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    & img {
        width: 35rem;
        height: 35rem;
        object-fit: cover;
        border-radius: 10px;
        &.leave {
            opacity: 0;
            animation: image-leave 0.5s;
        }
        &.right.leave {
            transform: translateX(100%);
        }
        &.left.leave {
            transform: translateX(-100%);
        }
    }
    & button {
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
        font-size: 3rem;
        background-color: var(--primary-color);
        box-shadow: 2px 2px 5px black;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 1;
        &:hover {
            background-color: var(--secondary-color);
            box-shadow: 1px 1px 2px black;
        }
    }
}

@keyframes image-leave {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
