.prevnext {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    & a {
        text-decoration: none;
        color: var(--link-color);
    }
    & a:hover {
        color: var(--hover-color);
    }
}

.post-header {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.category {
    font-style: italic;
    margin-left: 3rem;
    & a {
        color: var(--link-color);
    }
    & a:hover {
        color: var(--hover-color);
    }
    @media (max-width: 425px) {
        margin-left: 0;
    }
}

.post-content {
    margin: 0 6rem 0 6rem;
    & > * {
        margin-bottom: 1rem;
    }
    & p {
        line-height: 1.5rem;
    }
    & ul {
        margin-left: 2rem;
    }
    & li {
        margin-bottom: .5rem;
    }
    & hr {
        border: none;
        &::after {
            content: "* * * * *";
            display: block;
            text-align: center;
        }
    }
    & blockquote {
        padding: 0 1rem;
        border-left: 5px solid #aaa;
    }
    &:has(.youtube) {
        display: flex;
        justify-content: center;
    }
    & .youtube {
        width: 100%;
        aspect-ratio: 16 / 9;
        border: none;
    }
    @media (max-width: 768px) {
        margin: 0 3rem;
    }
    @media (max-width: 425px) {
        margin: 0;
    }
}
