h2 {
    padding: 0
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
    @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.cat-heading {
    text-shadow: none;
    color: #444;
    font-size: 2rem;
}

.categories {
    --main-color: #337ab7;
    --select-color: #173753;
    display: flex;
    row-gap: 1rem;
    column-gap: 5rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    & a {
        text-decoration: none;
        color: var(--main-color);
        &:hover {
            color: var(--select-color);
        }
        &.active {
             color: var(--select-color);
             text-decoration: underline;
             font-size: 1.8rem;
         }
    }
}

.post-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1rem;
    & > li {
        text-shadow: 1px 1px 2px black;
        
        background-color: var(--primary-color);
        &:nth-child(even) {
            background-color: var(--secondary-color);
        }
        @media (max-width: 1024px) and (min-width: 680px) {
            &:nth-child(4n - 2),
            &:nth-child(4n - 1) {
                background-color: var(--secondary-color);
            }
            &:nth-child(4n),
            &:nth-child(4n + 1) {
                background-color: var(--primary-color);
            }
        }
        
        text-align: center;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        & a {
            text-decoration: none;
            color: var(--background-color);
            background-color: inherit;
            border-radius: 1rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: color 0.5s, transform, scale 0.5s;
            & h2 {
                transition: color 0.5s, transform 0.5s;
            }
            &:hover {
                background-image: linear-gradient(to bottom, transparent, black);
                color: black;
                scale: 1.05;
                & h2 {
                    color: black;
                }
            }
        }
        & h2 {
            font-size: 2rem;
            margin-right: 1rem;
            margin-left: 1rem;
            flex-grow: 1;
        }
        & p {
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }
        & img {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 0 0 1rem 1rem;
        }
        
    }
}

@media (min-width: 1024px) {
    .expanded {
        
    }
}


