h1 {
    text-align: center;
    margin: 1.5rem;
    font-size: 2.5rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 66rem;
    justify-content: center;
    margin: 0 auto;
}

li {
    list-style: none;
    text-align: center;
    width: 20rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .25rem;
}

img {
    border-radius: 20px;
    opacity: .8;
    transition: all 100ms;
    &:hover {
        scale: 1.05;
        translate: 0 .5rem;
        outline: solid orange 5px;
        opacity: 1;
    }
}